* {
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: trajan;
    src: url(../Fonte/Trajan\ Pro\ Regular.ttf);
}
:root{
   --cor_fundo: rgba(51, 51, 51, 80%);
    --imagem_fundo: url(../Imagens/Fundo.png);
    --cor_caixas: rgba(0, 0, 0, 0.5);
    --cor_texto: white;
    --borda_cima:url(../Imagens/2\ Bordas\ cima.png);
    --borda_baixo:url(../Imagens/2\ Bordas\ baixo.png); 
    --cor_borda_input:rgba(255, 255, 255, 0.4) ;
    --cor_fundo_input:rgba(26, 25, 25, 1);
    --imagem_sol_lua:url(/Imagens/563\ Sol\ e\ lua\ site\ lua.png); 
}
.lightmode{
    transition:0.2s;
    --cor_fundo: rgba(255, 255, 255, 0.50);
    --cor_caixas: rgba(0, 0, 0, 0.5);
    --cor_texto: white;
    --imagem_sol_lua:url(/Imagens/563\ Sol\ e\ lua\ site\ sol.png); 
}

body{ 
    height: 100vh; width: 100%;
    background-color:var(--cor_fundo);
    background-image: url(../Imagens/Fundo.png);
    background-blend-mode:hue;
    background-repeat: repeat;
    color: var(--cor_texto);
    font-family: trajan;
    
}
    
/*Cabeçario-----------------------------------*/
header{ 
    
    box-shadow: 0 3px 20px  5px rgba(0, 0, 0, 0.60);
    background-color: var(--cor_caixas);
    height: 70px; width: 100%;
    color: var(--cor_texto);
    display: grid;
    /*São  7 linhas */
    grid-template-columns: 13% 23% 10% 33% 10% 6% 6.5%;
    padding: 15px 30px;
}

header a{
    filter: blur(0px);
}


.Botao-paginas{
    color: var(--cor_texto);
    text-decoration: none;    
}


/*As abndeiras-----------------------------*/
.btn_bandeira_img{
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0) ;
}

#btn_modos{
 background-image: url(/Imagens/btn_lua.png);
}

.bandeira_imagem{
    height: 50px;
}

/*Modo escuro e modo claro -------------------------------*/
.btn_modos{
    position: relative;
    background-image: var(--imagem_sol_lua);
    background-size: contain; background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
    input{
        position: absolute;
        width: 100%; height: 100%;
        left: 0; top:0;
        opacity: 0;
    } 
 }

.geral{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Moderanuvem-Area{
    height: 93.2vh ; width: 100%;
    background-color: rgba(0, 89, 255, 0);
    background-image: url(../Imagens/Moderanuvem.png);
    background-size:contain; background-repeat: no-repeat;
    background-position: 25px;
}


.SobreMim-Area
{
    background-color: rgba(255, 238, 0, 0);
    margin-right: 20px;
    display: flex;
    justify-content: center;

}

.Info-Area-Geral{
    height: 100%;
}

.Info-borda-cima-area{
    height: 115px; 
    background-image: var(--borda_cima);
    background-size: contain; background-position: center; background-repeat: no-repeat;
}

#Info-texto-area{
    background-color: var(--cor_caixas);  
    box-shadow: 5px 5px 5px  10px var(--cor_caixas);    
    height: 500px; width: 800px;
    text-align: center;
}

.Info-borda-baixo-area{
    height: 115px; 
    background-image: var(--borda_baixo);
    background-size:contain; background-position: center; background-repeat: no-repeat;
}

@media (max-width:1920px) and (max-height: 1080px)
{
    #Info-texto-area{
        background-color: var(--cor_caixas);  
        box-shadow: 5px 5px 5px  10px var(--cor_caixas);    
        height: 500px; width: 700px;
        text-align: center;
    }
}