* {
    margin: 0;
    box-sizing: border-box;
    color: white;
}

@font-face {
    font-family: trajan;
    src: url(../Fonte/Trajan\ Pro\ Regular.ttf);
}
:root{
   --cor_fundo: rgba(51, 51, 51, 80%);
    --imagem_fundo: url(../Imagens/Fundo.png);
    --cor_caixas: rgba(0, 0, 0, 0.5);
    --cor_texto: white;
    --borda_cima:url(../Imagens/2\ Bordas\ cima.png);
    --borda_baixo:url(../Imagens/2\ Bordas\ baixo.png); 
    --cor_borda_input:rgba(255, 255, 255, 0.4) ;
    --cor_fundo_input:rgba(26, 25, 25, 1);
    --imagem_sol_lua:url(/Imagens/563\ Sol\ e\ lua\ site\ lua.png); 
}
.lightmode{
    transition:0.2s;
    --cor_fundo: rgba(255, 255, 255, 0.50);
    --cor_caixas: rgba(0, 0, 0, 0.5);
    --cor_texto: white;
    --imagem_sol_lua:url(/Imagens/563\ Sol\ e\ lua\ site\ sol.png); 
}

body{ 
    height: 100vh; width: 100%;
    background-color:var(--cor_fundo);
    background-image: url(../Imagens/Fundo.png);
    background-blend-mode:hue;
    background-repeat: repeat;
    color: var(--cor_texto);
    font-family: trajan;
    
}
    
/*Cabeçario-----------------------------------*/
header{ 
    
    box-shadow: 5px 5px 5px  10px var(--cor_caixas);    
    background-color: var(--cor_caixas);
    height: 70px; width: 100%;
    color: var(--cor_texto);
    display: grid;
    /*São  7 linhas */
    grid-template-columns: 13% 23% 10% 33% 10% 6% 6.5%;
    padding: 15px 30px;
}

header a{
    filter: blur(0px);
}


.Botao-paginas{
    color: var(--cor_texto);
    text-decoration: none;    
}


/*As abndeiras-----------------------------*/
.btn_bandeira_img{
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0) ;
}

#btn_modos{
 background-image: url(/Imagens/563\ Sol\ e\ lua\ site.gif);
}

.bandeira_imagem{
    height: 50px;
}

/*Modo escuro e modo claro -------------------------------*/
.btn_modos{
    position: relative;
    background-image: var(--imagem_sol_lua);
    background-size: contain; background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
    input{
        position: absolute;
        width: 100%; height: 100%;
        left: 0; top:0;
        opacity: 0;
    } 
 }



/*Extrutura geral do modal*/
#area_geral_do_forms{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#area_modal{
    background-color: var(--cor_caixas);
    box-shadow: 5px 5px 5px  10px var(--cor_caixas);    
    height: 730px; width: 1644px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#sua_info_para_mim_area{
    height: 730px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sua_info_para_mim_area h1{
    text-shadow: 0px 0px 20px rgb(255, 255, 255);
}

#nome_email_area{
    height: 115px;
    width: 725px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*Parte 2*/
#assunto_menssagem_area{
    height: 395px; width: 724px;
}
#assunto_menssagem_area h2{
    padding-top: 20px;
}

#input1{
    height: 45px;
    width: 346px;
    border-style: solid;
    border-color: var(--cor_borda_input);
    background-color: var(--cor_fundo_input);
    color: var(--cor_texto);
    font-size: 20px;
}
#input2{
    height: 45px;
    width: 346px;
    border-style: solid;
    border-color: var(--cor_borda_input);
    background-color: var(--cor_fundo_input);
    color: var(--cor_texto);
    font-size: 20px;
}
#input3{
    height: 45px;
    width: 725px;
    border-style: solid;
    border-color: var(--cor_borda_input);
    background-color: var(--cor_fundo_input);
    color: var(--cor_texto);
    font-size: 20px;
}
#input4{
    height: 230px;
    width: 725px;
    border-style: solid;
    border-color: var(--cor_borda_input);
    background-color: var(--cor_fundo_input);
    color: var(--cor_texto);
    font-size: 20px;
}

/*Area das minhas redes*/
#minhas_redes_area{
    text-align: center;
    background-color: rgba(89, 0, 172, 0);
    height: 730px;
    display: flex;
    align-items: center;
    flex-direction:column;
}
#minhas_redes_area h1{
    text-shadow: 0px 0px 20px rgb(255, 255, 255);
}
#link_github a img{
    border: rgb(163, 163, 163) 2px solid;
    margin-top: 100px;
    border-radius: 100%;
    height: 280px;
    text-decoration: none;
}

@media (max-width:1920px) and (max-height: 1080px)
{   
    #area_modal{
        background-color: var(--cor_caixas);
        box-shadow: 5px 5px 5px  10px var(--cor_caixas);    
        height: 630px; width: 1500px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}