* {
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: trajan;
    src: url(../Fonte/Trajan\ Pro\ Regular.ttf);
}
:root{
   --cor_fundo: rgba(51, 51, 51, 80%);
    --imagem_fundo: url(../Imagens/Fundo.png);
    --cor_caixas: rgba(0, 0, 0, 0.5);
    --cor_texto: white;
    --borda_cima:url(../Imagens/2\ Bordas\ cima.png);
    --borda_baixo:url(../Imagens/2\ Bordas\ baixo.png); 
    --cor_borda_input:rgba(255, 255, 255, 0.4) ;
    --cor_fundo_input:rgba(26, 25, 25, 1);
    --imagem_sol_lua:url(/Imagens/563\ Sol\ e\ lua\ site\ lua.png); 
}
.lightmode{
    transition:0.2s;
    --cor_fundo: rgba(255, 255, 255, 0.50);
    --cor_caixas: rgba(0, 0, 0, 0.5);
    --cor_texto: white;
    --imagem_sol_lua:url(/Imagens/563\ Sol\ e\ lua\ site\ sol.png); 
}

body{ 
    height: 100vh; width: 100%;
    background-color:var(--cor_fundo);
    background-image: url(../Imagens/Fundo.png);
    background-blend-mode:hue;
    background-repeat: repeat;
    color: var(--cor_texto);
    font-family: trajan;
    
}
    
/*Cabeçario-----------------------------------*/
header{ 
    
    box-shadow: 5px 5px 5px  10px var(--cor_caixas);    
    background-color: var(--cor_caixas);
    height: 70px; width: 100%;
    color: var(--cor_texto);
    display: grid;
    /*São  7 linhas */
    grid-template-columns: 13% 23% 10% 33% 10% 6% 6.5%;
    padding: 15px 30px;
}

header a{
    filter: blur(0px);
}


.Botao-paginas{
    color: var(--cor_texto);
    text-decoration: none;    
}


/*As abndeiras-----------------------------*/
.btn_bandeira_img{
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0) ;
}

#btn_modos{
 background-image: url(/Imagens/btn_lua.png);
}

.bandeira_imagem{
    height: 50px;
}

/*Modo escuro e modo claro -------------------------------*/
.btn_modos{
    position: relative;
    background-image: var(--imagem_sol_lua);
    background-size: contain; background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
    input{
        position: absolute;
        width: 100%; height: 100%;
        left: 0; top:0;
        opacity: 0;
    } 
 }


 /*Area geral onde nada é o cabeçario :D-------------------------*/
.geral{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 93vh;
}

#area_habilidades{
    background-color: rgba(0, 162, 255, 0);
    display: flex; 
    align-items: center;
    flex-direction: column;
    padding-top: 2%;
}

.area_habilidades_borda_cima{
    background-color: rgba(0, 255, 13, 0);
    height: 135px; width: 840px;
    background-image: var(--borda_cima);
    background-size:cover; background-position: center; background-repeat: no-repeat;
}

#area_habilidades_caixa_texto{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.65);
    box-shadow: 0 5px 20px  5px rgba(0, 0, 0, 0.70);
    height: 630px; width: 800px;
}

/*Editando a fonte da caixa de texto das habilidades----------*/
#area_habilidades_caixa_texto h2{
    font-size: 28px;
}
#area_habilidades_caixa_texto h1{
    text-shadow: 0px 0px 20px rgb(255, 255, 255);
    font-size: 32px;
}

.area_habilidades_borda_baixo{
    background-color: rgba(0, 255, 13, 0);
    height: 135px; width: 840px;
    background-image: var(--borda_baixo);
    background-size: cover; background-position: center; background-repeat: no-repeat;
}

/*Os projetos(que não existem :D)--------------------------*/
#area_projetos{
    background-color: rgba(255, 196, 0, 0);
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#area_geral_projetos{
    background-color: rgba(0, 0, 0, 0.65);
    box-shadow: 0 5px 20px  5px rgba(0, 0, 0, 0.60);
    padding-top: 20px;
    height: 830px; width: 830px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#area_geral_projetos h1{
    text-shadow: 0px 0px 20px rgb(255, 255, 255);
    font-size: 32px;
}


#area_dos_projetos{
    background-color: rgba(33, 0, 180, 0);
    height: 750px; width: 750px;
    display: grid;
    grid-template-columns: 1fr 1fr 0fr;
    margin-top: 20px;
}

.caixa_projetos{
    background-color: rgba(0, 0, 0, 0.562);
    height: 250px; width: 200px;
}

/*As bordas das caixinhas onde devem estar os projetos------------*/
.caixa_projetos img{
    position: relative;
    right: 15px; bottom: 20.5px;
    height: 294px;
    transition: 0.2;
    opacity: 0;
}
.caixa_projetos img:hover{
    position: relative;
    right: 15px; bottom: 20.5px;
    height: 294px;
    transition: 0.2s;
    opacity: 100;
}

@media (max-width:1920px) and (max-height: 1080px)
{
    .geral{
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 92vh;
    }
    .area_habilidades_borda_cima{
        background-color: rgba(0, 255, 13, 0);
        height: 135px; width: 750px;
        background-image: var(--borda_cima);
        background-size:cover; background-position: center; background-repeat: no-repeat;
    }
    
    #area_habilidades_caixa_texto{
        text-align: center;
        background-color: rgba(0, 0, 0, 0.65);
        box-shadow: 0 5px 20px  5px rgba(0, 0, 0, 0.70);
        height: 500px; width: 750px;
    }

    .area_habilidades_borda_baixo{
        background-color: rgba(0, 255, 13, 0);
        height: 135px; width: 750px;
        background-image: var(--borda_baixo);
        background-size: cover; background-position: center; background-repeat: no-repeat;
    }
    #area_geral_projetos{
        background-color: rgba(0, 0, 0, 0.65);
        box-shadow: 0 5px 20px  5px rgba(0, 0, 0, 0.60);
        padding-top: 20px;
        height: 630px; width: 630px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .caixa_projetos{
        background-color: rgba(0, 0, 0, 0.562);
        height: 200px; width: 160px;
    }
    #area_dos_projetos{
        height: 600px; width: 590px;
    }
    .caixa_projetos img{
        position: relative;
        right: 13px; bottom: 19.5px;
        height: 240px;
    }
    .caixa_projetos img:hover{
        position: relative;
        right: 13px; bottom: 19.5px;
        height: 240px;
    }
    
}